body {
    background-color: azure;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 12px 14px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}

h1,
h2,
h3 {
    color: blue;
}